*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  max-width: 1600px;
  margin: 0 auto;
  line-height: 1.3;
}

#wrapper {
  padding-top: 150px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.free-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 5px;
}

.header-icon-one, 
.header-icon-two, .user-icon {
  font-size: 26px;
}

.header-icon-one { color: #a2f3ad; }
.header-icon-two { color: #e0f88b; }

.header-text-one h3, 
.header-text-one span {
  color: #a2f3ad;
}

.header-text-two h3, 
.header-text-two span {
  color: #def197;
}

.header-text-one h3, 
.header-text-two h3 {
  font-size: 17px;
  font-weight: 700;
}

.header-text-one span, 
.header-text-two span {
  font-size: 14px;
  font-weight: 500;
}

.header-text-one:hover, 
.header-text-two:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: #000;
  color: #fff;
}

.bottom-header {
  display: flex;
  align-items: center;
  padding: 2px 30px;
  gap: 10px;
}

.logo {
  width: 60px;
  border-radius: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: solid 2px #000;
  border-radius: 50px;
  padding: 3px 5px;
  width: 500px;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 8px 0 0 8px;
}

.search-bar button {
  border: none;
  background-color: #111;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #4d4b4b;
}

.user-account-box{
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #111;
}

.best-selling-box, 
.support-box, 
.categories-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 5px 10px;
  color: #111;
  text-decoration: none;
  cursor: pointer;
}

.best-selling-box:hover, 
.support-box:hover, 
.new-box:hover, 
.categories-box:hover {
  background-color: #f0f0f0;
  border-radius: 30px;
}

.best-selling-box span {
  font-size: 13px;
  color: #222;
  font-weight: 500;
}

.best-selling-icon, 
.support-icon, 
.cart-icon {
  width: 35px;
  height: 28px;
  stroke: #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cart-icon:hover, 
.best-selling-icon:hover, 
.support-icon:hover {
  stroke: #6b6969;
}

.cart-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.cart-box .cart-icon {
  width: 28px;
  height: 28px;
  color: #333;
}

.count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff3e3e;
  color: #FAFAFA;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  display: inline-block;
  min-width: 20px;
  text-align: center;
}

.user-email-display {
  font-size: 14px;
  margin-left: 10px;
  align-self: center;
}

.images-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 10px;
  padding: 20px 30px;
}

.product-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.418);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.categoryAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 4px;
}

.categoryAndPrice p {
  color: #333;
  font-size: 10px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 8px;
  background-color: #28ee6a;
  transition: background-color 0.3s ease;
}

.categoryAndPrice p:hover {
  background-color: #1ecb5c;
}

.categoryAndPrice span {
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #e67e22;
}

.product-rating {
  font-size: 13px;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.product-rating span.discount {
  color: #d63031;
  font-weight: 700;
  padding: 2px 4px;
  border: 1px solid #d63031;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cart-icon-img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-icon-img:hover {
  background-color: #f0f0f0;
}

.cart-icon-inner{
  font-size: 25px;
}

.see-more-btn {
  display: block;
  margin: 2rem auto;
  padding: 20px 50px;
  background-color: #ff6f00;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.see-more-btn:hover {
  background-color: #d85c0a;
  transform: translateY(-2px);
}

.see-more-btn:active {
  transform: scale(0.97);
}

#user-info{
  display: flex;
  align-items: center;
  gap: 5px;
}

#logout-btn{
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.5s ease;
}

#logout-btn:hover {
  color: #222;
  background-color: #d14a3b;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 30px 30px 0px 30px;
}

.main-footer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}


.footer-text h3 {
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  font-weight: 700;
}

.footer-text ul {
  list-style: none;
}

.footer-text ul li {
  text-decoration: none;
  padding: 5px 0;
}

.footer-text ul li a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-text ul li a:hover {
  text-decoration: underline;
}

.logos-footer{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  padding-bottom: 40px;
}

.social-media-logo h4{
  padding: 15px 0;
}

.social-icons{
  display: flex;
  gap: 20px;
}

.social-icons-main{
  font-size: 30px;
}

.social-icons-main:hover{
  cursor: pointer;
}

.payment-images h4  {
  padding: 15px 13px;
}

.payment-img-box {
  display: flex;
  gap: 10px;
}

.payment-img-box img {
  width: 70px;
  height: 30px;
  object-fit: contain;
}

.payment-img-box img:hover{
  cursor: pointer;
}

.copy-right {
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #ccc;
}
